<div *ngIf="vm$ | async as vm">
  <h2>Season {{ vm.races[0].season }}</h2>

  <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 30px;">
    <div style="width: 48%">
      <h3>Drivers Per Season</h3>

      <div class="table mat-elevation-z8">
        <div class="spinner-container" *ngIf="driversDataSource.loading$ | async">
          <mat-spinner></mat-spinner>
        </div>

        <table mat-table [dataSource]="driversDataSource">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let driver">{{ driver.givenName }} {{ driver.familyName }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedDriversColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedDriversColumns;"></tr>
        </table>

        <mat-paginator [length]="driversDataSource.driversCount" [pageSize]="10" [pageSizeOptions]="[10, 15, 25]"></mat-paginator>

      </div>
    </div>

    <div style="width: 48%">
      <h3>Races Per Season</h3>

      <div class="table mat-elevation-z8">
        <div class="spinner-container" *ngIf="vm.isLoadingSeason">
          <mat-spinner></mat-spinner>
        </div>

        <ng-container *ngIf="vm.races?.length">
          <table mat-table [dataSource]="vm.races">
            <ng-container matColumnDef="round">
              <th mat-header-cell *matHeaderCellDef>Round</th>
              <td mat-cell *matCellDef="let race">{{ race.round }}</td>
            </ng-container>

            <ng-container matColumnDef="raceName">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let race">{{ race.raceName }}</td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let race">{{ race.date | date }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedRacesColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedRacesColumns;" (click)="onRaceClicked(row, vm.races[0].season)"></tr>

          </table>

          <mat-paginator [length]="vm.races?.length" [pageSize]="10" [pageSizeOptions]="[10, 15, 25]"></mat-paginator>
        </ng-container>

      </div>

    </div>
  </div>

  <button mat-flat-button color="primary" type="button" (click)="goBack()">Go Back</button>
</div>
