/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-seasons-list {
  display: inherit;
  font-weight: 400;
  width: calc(100% - 341px);
  padding: 20px 50px;
}
